.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #333333;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.todo {
  width: 40%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #bdbdbd;
}

.nav-item {
  height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13%;
}

nav span {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.highlight {
  visibility: hidden;
  width: 100%;
  background-color: #2f80ed;
  border-radius: 4px 4px 0px 0px;
  height: 10%;
}

.active {
  visibility: visible;
}

form {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.addTaskInput {
  border-radius: 12px;
  border: 1px solid #bdbdbd;
  font-size: 14px;
  padding: 2% 1%;
  width: 80%;
}

input::placeholder {
  color: #828282;
}

.add-task-btn {
  font-weight: 600;
  font-size: 14px;
  color: white;
  background-color: #2f80ed;
  border: none;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  padding: 1% 2%;
  width: 15%;
}


.task {
text-align: start;
font-size: 18px;
font-weight: 500;
display: flex;
align-items: center;
/* justify-content: space-between; */
margin: 2% 0;
}

.task input {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 1%;
}

.task span {
  color: black;
}

.completed-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  border: none;
  background-color: transparent;
  color: #bdbdbd;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1%;
  cursor: pointer;
}

.delete-btn:hover {
  background-color:#ebebeb;
}

.delete-all-btn {
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: #eb5757;
  padding: 2%;
  width: 15%;
  margin-top: 5%;
  margin-left: 85%;
  cursor: pointer;
}

.delete-all-btn:hover {
  background-color: #fc7c7c;
}

.delete-all-btn:active {
  background-color: #eb5757;
}

.delete-all-btn svg {
  margin-right: 5%;
}